body {
	background-color: #f0edee;
}


/* Configuração de cada elemento textual */
.texto {
	text-align: center;
	color: #05386b;
	font-family: "Raleway", sans-serif;
}

.texto .filtrar{
	text-align: left;
	margin-left: 22.5em;
}

.texto .alunos{
	margin: 1em;
}

.texto .titulo{
font-size: 30px;
font-weight: 800;
}

.texto .textosec{
	font-size: 15px;
	padding: 0;
	font-weight: 600;
}
/* Término da configuração de texto */

.tabela {
	position: relative;
	width: 470px;
	margin: 0 auto;
}

.form{
	position: relative;
	width: 940px;
	margin: 0 auto;

}


.titulos {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	color: #05386b;
	font-family: "Raleway", sans-serif;
}


.grupo {
	display: inline-block;
}

label {
	display: block;
	margin: 0 0 10px;
	font-size: 20px;
}

table {
	width: 400px;
	margin: 30px auto;
	border-collapse: collapse;
}



td, th {
	border: 1px solid black;
	padding: 8px 15px;
	font-size: 18px;
}

.input-padrao {
	display: inline-block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
	border: none;
	border-radius: 7.5px;
	box-sizing: border-box;
	box-shadow:
  	6.7px 6.7px 5.3px rgba(0, 0, 0, 0.036),
  	22.3px 22.3px 17.9px rgba(0, 0, 0, 0.054),
  	100px 100px 80px rgba(0, 0, 0, 0.09);
}

.botao {
	background: #ff8a9d;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	

}

.botao:hover {
	background: #FF1493;
	transition: 1s background;
	cursor: pointer;
}

#mensagens-erro {
	color: red;
}

.animacao {
	opacity: 0;
	transition: 1s;
}



footer {
	text-align: center;
	width: 100%;
	position: absolute;
	margin-top: auto;
}

footer p {
	font-weight: bold;
	font-size: 12px;
	color: #05386b;
	padding: 20px;
	font-family: "Raleway", sans-serif;
}
